* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
body {
  background-color: #2d3031;
}
#main {
  margin: 37px auto;
  max-width: 1000px;
  background-color: white;
  padding: 50px;
}

h1 {
  margin: 30px auto;
}

.tableauPlaceholder {
  margin: 20px auto;
  position: relative;
}

/* Child Text Container */
.tableauPlaceholder div{
  position: absolute;
}

/* Hover on Parent Container */
.tableauPlaceholder:hover{
  cursor: pointer;
 }
 
 .tableauPlaceholder:hover div{
  visibility: visible;
  opacity: 0.7; 
 }

#hover-content {
  display:none;
}
#main:hover #hover-content {
  display:block;
}